name: Solar Sysem Workflow

on:
  workflow_dispatch:
  push:
    branches:
        - main
        - feature/*

env:
    KUBECONFIG: ${{ github.workspace }}/kubeconfig

jobs:
    kubectl-setup:
        name: setup jon
        runs-on: ubuntu-latest
        steps:
            
              - name: Set up kubectl
                uses: azure/setup-kubectl@v4
                with:
                 version: 'latest'

              - name: Write kubeconfig
                env:
                  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}   # your secret
                run: |
                 echo "$KUBE_CONFIG_DATA" > $GITHUB_WORKSPACE/gha-deployer.kubeconfig
               
                 chmod 600 $GITHUB_WORKSPACE/gha-deployer.kubeconfig
              
                 export KUBECONFIG=$GITHUB_WORKSPACE/gha-deployer.kubeconfig
             
                 kubectl version
                 kubectl get nodes







