name: Using Kubeadm clusted hosted on ec2 with selfhost

on:
  workflow_dispatch:
  push:
    branches:
        - main
        - feature/*

jobs:
  deploy:
    # Use the self-hosted runner you just set up
    # If you added a label like aws-k8s during config.sh, use:
    # runs-on: [self-hosted, aws-k8s]
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check cluster connectivity
        run: |
          export KUBECONFIG=$HOME/kubeconfig
          kubectl version
          kubectl get nodes









