name: Replacing Placeholder in manifest file.

on:
  workflow_dispatch:
  push:
    branches:
        - replacingPlaceholder

jobs:
  deploy:
    runs-on: ubuntu-latest

# We can Pass the values in repo variables and feth here
 # env:
      # coming from Repository Variables (Settings → Secrets and variables → Actions → Variables)
 #     NAMESPACE: ${{ vars.K8S_NAMESPACE }}
 #      REPLICAS: ${{ vars.K8S_REPLICAS }}
 #     IMAGE: ${{ vars.K8S_IMAGE_REPO }}:${{ github.sha }}

    env:
      NAMESPACE: development
      REPLICAS: 1
      IMAGE: myrepo/solar-system:${{ github.sha }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

#      - name: Configure kubectl
#        run: |
          # configure kubeconfig here (EKS/AKS/minikube etc.)
#         echo "setup kubeconfig"

      - name: Replace placeholders in deployment.yaml
        run: |
          sed -i "s#_{_NAMESPACE_}_#${NAMESPACE}#g" kubernetes/development/deployment.yaml
          sed -i "s#_{_REPLICAS_}_#${REPLICAS}#g" kubernetes/development/deployment.yaml
          sed -i "s#_{_IMAGE_}_#${IMAGE}#g" kubernetes/development/deployment.yaml

          echo "===== Final manifest ====="
          cat kubernetes/development/deployment.yaml
          
#Create secrets Dynamically _______________________________________________

      - name: Create MongoDB Secret
        run: |
          kubectl create secret generic mongo-db-creds \
          -n $NAMESPACE \
          --from-literal=MONGO_USERNAME='${{ secrets.MONGO_USERNAME }}' \
          --from-literal=MONGO_PASSWORD='${{ secrets.MONGO_PASSWORD }}' \
          --save-config --dry-run=client -o yaml | kubectl apply -f -


#      - name: Apply manifest
#        run: |          
#              kubectl apply -f kubernetes/development/deployment.yaml
