name: Solar Sysem JOb & Service Container Workflow

on:
  workflow_dispatch:
  push:
    branches:
        - main
        - feature/*

jobs:
  unit-testing:
    name: Unit Testing
    runs-on: ubuntu-latest
    container:
        image: node:19
    
    services:
        mongo:
            image: siddharth67/mongo-db:non-prod
            ports:
                - 27017:27017
    steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Install Dependencies
          run: npm install

        - name: Unit Testing
          run: npm test
          env:
               MONGO_URI: 'mongodb://mongo:27017/superData'
               MONGO_USERNAME: non-prod-user
               MONGO_PASSWORD: non-prod-password   
